@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*-----     footer      ----*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 60vh;
    padding: 2rem .5rem;
    background: #818181;
}
footer .container-footer{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
}
footer .container-footer .footer-img{
    width: 25rem;
}
footer .container-footer  .footer-img figure{
    width: 100%;
}
footer .container-footer .footer-img img{
    width: 100%;
    height: auto;
}
footer .container-footer .footer-img .img-phone{
    display: none;
}
footer .container-footer .footer-img .footer-links i{
    font-size: 2.2rem;
}
footer .container-footer .footer-img a{
    text-decoration: none;
    color: #F6F6F5;
    text-transform: uppercase;
    font-family: "Instrument Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}
/*------*/

footer .container-footer .footer-text{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    gap: 2rem;
    
}
footer .container-footer .footer-text .footer-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: #F6F6F5;
    gap: 1.5rem;
}
footer .container-footer .footer-text .title{
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #f6f6f6;
    font-weight: 500;
    font-family: "Instrument Sans", sans-serif;
}
footer .container-footer .footer-card ul{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: .9rem;
    padding-left: 1rem;
}
footer .container-footer .footer-card ul li a{
    text-decoration: none;
    color: #F6F6F5;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}
footer .container-footer .footer-text .footer-contact{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: #F6F6F5;
    gap: 1.5rem;
}
footer .container-footer .footer-text .footer-contact span a{
    text-decoration: none;
    font-size: 1rem;
    text-transform: capitalize;
    color: #F6F6F5;
    font-family: "Roboto", sans-serif;
}

footer .container-footer .footer-text .footer-contact span h2{
    text-decoration: none;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
}
footer .container-footer .footer-card span p{
    text-decoration: none;
    font-size: .9rem;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    padding-bottom: 2rem;
}
footer .container-footer .footer-text .footer-contact .icon{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: .5rem;
}

footer .container-footer .footer-card span {
    text-decoration: none;
    font-size: .9rem;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
}
footer .container-footer .footer-card .link-local h2 {
    padding-bottom: 1rem;
}
footer .container-footer .footer-card .link-local .button-footer{
    background-color: rgb(30, 202, 255);
    padding: .7rem 1.2rem;
    border-radius: 40px;
    margin-top: 1rem;
    transition: all 500ms ease;
    text-decoration: none;
    color: #F6F6F5;
    font-size: 1.2rem;
    box-shadow: 5px  5px 20px rgba(54, 54, 54, 0.089);
}
footer .container-footer .footer-card .link-local .button-footer:hover{
    background-color: rgb(1, 170, 221);
    
}
footer .container-footer .footer-card .button-footer i{
    margin-right: .5rem;
    font-size: 1.5rem;
}


/*-------*/
.copyright{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: #818181;
}
.copyright .copyright-footer{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.copyright h2{
    font-size: clamp(3px, 2.1vw, .8rem);/*.9rem*/
    font-family: "Instrument Sans", sans-serif;
    font-weight: 400;
    color: white;
    text-transform: capitalize;
}
.copyright a{
    font-size: clamp(3px, 1.7vw, .8rem);/*.9rem*/;/*.9rem*/
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: white;
    text-transform: capitalize;
}
.copyright hr{
    width: 98%;
    height: .5px;
    opacity: .4;
}

/*-------*/
/*----  footer      ------*/
@media (max-width: 1170px){
    footer .container-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
    }
}
@media(max-width: 900px){
    footer .container-footer{
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    footer .container-footer .footer-img{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
footer .container-footer  .footer-img figure{
    width: 300px;   
}
footer .container-footer .footer-img .footer-links{
    display: flex;
    gap: 2rem;
}
footer .container-footer .footer-text{
    width: 100%;
    gap: 1.5rem;
}

}
@media(max-width: 569px){
    footer .container-footer .footer-text{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    align-items: start;
    gap: 2rem;
}
}
@media(max-width: 477px){
    footer{
    background: #23325F;
}
footer .container-footer .footer-text{
    grid-template-columns: repeat(1, 1fr);
}
footer .container-footer .footer-img .img-desktop{
    display: none;
}
footer .container-footer .footer-img .img-phone{
    display: block;
}
   footer .container-footer .footer-text .footer-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F6F6F5;
    gap: 1.5rem;
}
footer .container-footer .footer-text .footer-contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F6F6F5;
    gap: 1.5rem;
}
footer .container-footer .footer-card span {
    text-align: center;
}
footer .container-footer .footer-img{
    text-align: center;
}
.copyright{
    background: #23325F;
}
}


/*----  copyright   -----*/
@media(max-width: 646px){
    .copyright .copyright-footer{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .5rem;
}
}
