@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*
 
.instrument-sans-<uniquifier> {
  font-family: "Instrument Sans", sans-serif;
  font-family: "Karla", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Saira", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}



/*------    banner-index    -----*/
.index{
    width: 100%;
    min-height: 30vh;
    background-image: url('../img/index-repuestos-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.index .title{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-family: "Open Sans", sans-serif;
    gap: 1rem;
    z-index: 2;
}
.index .title h2{
    font-family: "Open Sans", sans-serif;
    font-size: clamp(1rem, 4vw, 4rem);/*2.5rem*/
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.651);
}
.index .title .title-link{
    display: flex;
    gap: 2rem;
    color: #F6F6F5;
}
.index .title .title-link .slash{
    cursor: default;
    pointer-events: none;
}
.index .title .title-link a{
    color: #F6F6F5;
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    text-shadow: 2px 2px 2px black;
}
/*-----     icon-float  ----*/



/*------   workshop   ----*/
.workshop{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 1rem;
}
.workshop .container-worshop{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 2rem;
}
.workshop .container-worshop .box{
    width: 100%;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
    border: 1px solid #b8b8b898;
    border-radius: 20px;
    box-shadow: 5px  5px 20px rgba(54, 54, 54, 0.4);
    text-align: center;
}
.workshop .container-worshop .box figure{
    width: 100%;
    height: 68%;
    position: relative;
}
.workshop .container-worshop .box figure .hover-img{
    width: 100%;
    height: 100%;
    z-index: 4;
    position: absolute;
    opacity: 0;
    transition: .4s ease-in-out;
    background: white;
}
.workshop .container-worshop .box figure:hover .hover-img{
    opacity: 1;
}
.workshop .container-worshop .box figure .hover-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.workshop .container-worshop .box figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.workshop .container-worshop .box .box-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    gap: .6rem;
    padding-top: 1rem;
}
.workshop .container-worshop .box .box-info h2{
    font-size: 1.5rem;
    font-family: "Ubuntu", sans-serif;
    color: #131E31;
}
.workshop .container-worshop .box .box-info p{
    font-size: 1.1rem;
    font-weight: 300;
    font-family: "Ubuntu", sans-serif;
    color: #131E31;
}
.workshop .container-worshop .box .box-info a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #23325F;
    width: 100%;
    text-align: center;
    padding: .5rem;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: white;
    
    transition: all 500ms ease;
}
.workshop .container-worshop .box .box-info a:hover{
    background: #818181;
}
.workshop .container-worshop .box .box-info i{
    font-size: 2rem;
}

/*---   phrase  ---*/
/*-----     brands  ------*/
.brands{
    width: 100%;
    min-height: 60vh;
    padding: 2rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.brands h2{
    font-family: "Open Sans", sans-serif;
    color: #bbbbbb;
    font-weight: 500;
    text-transform: capitalize;
}
.brands .brands-container{
    width: 75%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem 0px;
}
.brands .brands-container figure{
    width: 100%;
    height: 110px;
   
}
.brands .brands-container figure img{
    width: 100%;
    height: 100%;
     object-fit: contain;
}


/*-----     section-button      -----*/


/*----  spare   -----*/

/*-----     form-info  ------*/



/*------    map  -----*/



/*----      service     ----*/


@media(max-width: 970px){
    html{
        font-size: 90%;
    }
    .phrase h3{
    font-size: 2.1rem;
}

}

/*----      header-responsive   -----*/
@media(max-width: 697px){
.index{
    background-image: url('../img/index-repuestos-min-phoneotablet2.jpg');
    margin-top: 9.5rem;
}
}

/*----     index    ---- */
@media(max-width: 649px){
.index .title h2{
    font-size: 2rem;
}
}
@media(max-width: 405px){
    .index .title h2{
    font-size: 2.7rem;
    text-align: center;
}
}

/*------    workshop    -----*/
@media(max-width :971px){
    .workshop .container-worshop{
    width: 100%;
}
}


/*----  phrase  ---*/
@media(max-width: 580px){
    .phrase{
    padding: .5rem;
}
}

/*----  spare   -----*/
@media(max-width: 440px){
    .spare .spare-title h2{
    font-size: 2rem;
}
}
@media(max-width: 1000px){
    .phrase .section-form{
    width: 100%;
}
}
@media(max-width:780px){
    .phrase .section-form .form-container form .form-input{
    grid-template-columns: repeat(1, 1fr);
}
}

/*---   nuestros repuestos -----*/


