@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*
 
.instrument-sans-<uniquifier> {
  font-family: "Instrument Sans", sans-serif;
  font-family: "Karla", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Saira", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*------    banner-index    -----*/
.index{
    width: 100%;
    min-height: 30vh;
    background-image: url('../img/taller.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.index .title{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-family: "Open Sans", sans-serif;
    gap: 1rem;
    z-index: 2;
}
.index .title h2{
    font-family: "Open Sans", sans-serif;
    font-size: clamp(1rem, 4vw, 4rem);/*2.5rem*/
    color: white;
    font-weight: 600;
}
.index .title .title-link{
    display: flex;
    gap: 2rem;
    color: #F6F6F5;
}
.index .title .title-link .slash{
    cursor: default;
    pointer-events: none;
}
.index .title .title-link a{
    color: #F6F6F5;
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
}
/*-----     icon-float  ----*/


/*------    section-taller    ----*/
.workshop{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    padding-top: 3rem;
    
}
.workshop .text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}
.workshop .text h3{
    font-size: clamp(1.7rem, 2.5vw, 2.5rem);/*3.2rem*/
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #23325F;
    text-transform: uppercase;
    font-weight: 900;
}
.workshop .text .img-text{
    width: 90%;
    padding: 1rem;
    height: 7rem;
}
.workshop .text .img-text img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.workshop .container-worshop{
    width: 85%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1;
    padding: 1rem .5rem;
}
.workshop .container-worshop .container-text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    background: #dfdede;
}
.workshop .container-worshop .container-text .box{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background: #F6F6F5;
}
.workshop .container-worshop .container-text .box h2{
    color: #142453;
    font-size: 1.2rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}
.workshop .container-worshop .container-text .box p{
    color: #142453;
    font-size: .8rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}
.workshop .container-worshop .container-text .box a {
    cursor: default;
    pointer-events: none;
}
.workshop .container-worshop .container-text .box a svg{
    fill: #F6F6F5;
    height: 60px;
    width: 60px;
    padding: .5rem;
    background: #142453;
    left: -2rem;
    bottom: 1.7rem;
}
.workshop .container-worshop .container-img{
    width: 100%;
    height: 100%;
}
.workshop .container-img figure{
    width: 100%;
    height: 100%;
}
.workshop .container-worshop .container-img img{
    width: 100%;
    height: 100%;
   object-fit: contain;
    
}

/*---   phrase  ---*/
.section-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem .5rem;
}
.section-title .container-title{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-title .container-title h2{
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
    color: #23325F;
}


/*-----     section-button      -----*/


/*----  spare   -----*/

/*-----     form-info  ------*/



/*------    map  -----*/



/*----      service     ----*/


@media(max-width: 970px){
    html{
        font-size: 90%;
    }
    .phrase h3{
    font-size: 2.1rem;
}

}

/*----      header-responsive   -----*/
@media(max-width: 697px){
.index{
    margin-top: 9.5rem;
}
}
@media(max-width:409px){
    .header .networks a,
    .header .networks h2{
        font-size: .8rem;
    }
}     

/*----     index    ---- */
@media(max-width: 649px){
.index .title h2{
    font-size: 2rem;
}
}
@media(max-width: 405px){
    .index .title h2{
    font-size: 2.7rem;
    text-align: center;
}
}

/*------    workshop    -----*/
@media(max-width :971px){
    .workshop .container-worshop{
    width: 100%;
}
}


/*----  phrase  ---*/
@media(max-width: 580px){
    .phrase{
    padding: .5rem;
}
}

/*----  spare   -----*/
@media(max-width: 440px){
    .spare .spare-title h2{
    font-size: 2rem;
}
}
@media(max-width: 1000px){
    .phrase .section-form{
    width: 100%;
}
}
@media(max-width:780px){
    .phrase .section-form .form-container form .form-input{
    grid-template-columns: repeat(1, 1fr);
}
}

/*---   nuestros repuestos -----*/

