@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*
 
.instrument-sans-<uniquifier> {
  font-family: "Instrument Sans", sans-serif;
  font-family: "Karla", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Saira", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}


header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}
header .networks{
    width: 100%;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #23325F;
    font-family: "Instrument Sans", sans-serif;
    z-index: 22;
}
header .networks .links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #F6F6F5;
}
header .networks .links a{
    color: #F6F6F5;
}
header .networks .links h2{
    font-size: .9rem;
    font-weight: 100;
    color: rgb(255, 242, 126);

}
header .networks .info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
header .networks .info span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    gap: .5rem;
}
header .networks .info span i{
    color: rgb(255, 255, 32);
}
header .networks .info span a{
    color: #F6F6F5;
    text-decoration: none;
}
header nav{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 1rem;
}
header nav .navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
header nav .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
header nav .nav-links li{
    list-style: none;
}
header nav .nav-links li a{
    font-size: .9rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #818181;
}
header nav .nav-links li a.active{
    color: #23325F;
}
header nav .nav-links li a:hover{
    color: #131E31;
}
header nav li {
    list-style: none;
}

header nav li span .button-nav{
    background: #ff9b05;
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
}
header nav  li .button-nav i{
    margin-right: .5rem;
    font-size: 1.8rem;
    
}

header nav .logo{
    width: 200px;
    height: 85px;
    cursor: pointer;
    
}
header nav .logo img{
    width: 100%;
    height: 100%;
}
/*-------*/
header .hamburger{
    font-size: 2rem;
    display: none;
    z-index: 10;
}

/*------    banner-index    -----*/
.index{
    width: 100%;
    min-height: 30vh;
    background-image: url('../img/taller.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.index .title{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-family: "Open Sans", sans-serif;
    gap: 1rem;
    z-index: 2;
}
.index .title h2{
    font-family: "Open Sans", sans-serif;
    font-size: clamp(1rem, 4vw, 4rem);/*2.5rem*/
    color: white;
    font-weight: 600;
}
.index .title .title-link{
    display: flex;
    gap: 2rem;
    color: #F6F6F5;
}
.index .title .title-link .slash{
    cursor: default;
    pointer-events: none;
}
.index .title .title-link a{
    color: #F6F6F5;
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
}
/*-----     icon-float  ----*/
.index .icon-float{
    font-size: 4rem;
    color: white;
    background-color: #1da523;
    z-index: 6;
    padding: .5rem;
    border-radius: 100%;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}
.index .icon-float i{
    color: white;
}


/*------    section-taller    ----*/
.workshop{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    padding-top: 3rem;
    
}
.workshop .text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}
.workshop .text h3{
    font-size: clamp(1.7rem, 2.5vw, 2.5rem);/*3.2rem*/
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #23325F;
    text-transform: uppercase;
    font-weight: 900;
}
.workshop .text .img-text{
    width: 90%;
    padding: 1rem;
    height: 7rem;
}
.workshop .text .img-text img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.workshop .container-worshop{
    width: 85%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1;
    padding: 1rem .5rem;
}
.workshop .container-worshop .container-text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    background: #dfdede;
}
.workshop .container-worshop .container-text .box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background: #F6F6F5;
}
.workshop .container-worshop .container-text .box h2{
    color: #142453;
    font-size: 1.2rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}
.workshop .container-worshop .container-text .box p{
    color: #142453;
    font-size: .8rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}
.workshop .container-worshop .container-text .box a {
    cursor: default;
    pointer-events: none;
}
.workshop .container-worshop .container-text .box a svg{
    fill: #F6F6F5;
    height: 60px;
    width: 60px;
    padding: .5rem;
    background: #142453;
    left: -2rem;
    bottom: 1.7rem;
}
.workshop .container-worshop .container-img{
    width: 100%;
    height: 100%;
}
.workshop .container-img figure{
    width: 100%;
    height: 100%;
}
.workshop .container-worshop .container-img img{
    width: 100%;
    height: 100%;
   object-fit: contain;
    
}

/*---   phrase  ---*/
.section-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem .5rem;
}
.section-title .container-title{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-title .container-title h2{
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
    color: #23325F;
}


/*-----     section-button      -----*/
.section-button{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-button .button-sect{
    padding: .7rem .5rem ;
    background: #23325F;
    font-size: 2.7rem;
    color: white;
    border-radius: 50%;
    transition: all 500ms ease;
    border: none;
}
.section-button .button-sect:hover{
    background: #3a3a3a;
}

/*----  spare   -----*/

/*-----     form-info  ------*/



/*------    map  -----*/



/*----      service     ----*/

/*-----     footer      ----*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 60vh;
    padding: 2rem .5rem;
    background: #818181;
}
footer .container-footer{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
}
footer .container-footer .footer-img{
    width: 25rem;
}
footer .container-footer  .footer-img figure{
    width: 100%;
}
footer .container-footer .footer-img img{
    width: 100%;
    height: auto;
}
footer .container-footer .footer-img .img-phone{
    display: none;
}
footer .container-footer .footer-img .footer-links i{
    font-size: 2.2rem;
}
footer .container-footer .footer-img a{
    text-decoration: none;
    color: #F6F6F5;
    text-transform: uppercase;
    font-family: "Instrument Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}
/*------*/
footer .container-footer .footer-text{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    gap: 2rem;
}
footer .container-footer .footer-text .footer-card{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: #F6F6F5;
    gap: 1.5rem;
}
footer .container-footer .footer-text .title{
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #f6f6f6;
    font-weight: 500;
    font-family: "Instrument Sans", sans-serif;
}
footer .container-footer .footer-card ul{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: .9rem;
    padding-left: 1rem;
}
footer .container-footer .footer-card ul li a{
    text-decoration: none;
    color: #F6F6F5;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}
footer .container-footer .footer-text .footer-contact{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: #F6F6F5;
    gap: 1.5rem;
}
footer .container-footer .footer-text .footer-contact span a{
    text-decoration: none;
    font-size: 1rem;
    text-transform: capitalize;
    color: #F6F6F5;
    font-family: "Roboto", sans-serif;
}

footer .container-footer .footer-text .footer-contact span h2{
    text-decoration: none;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
}
footer .container-footer .footer-card span p{
    text-decoration: none;
    font-size: .9rem;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    padding-bottom: 2rem;
}
footer .container-footer .footer-text .footer-contact .icon{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: .5rem;
}

footer .container-footer .footer-card span {
    text-decoration: none;
    font-size: .9rem;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
}
footer .container-footer .footer-card .link-local h2 {
    padding-bottom: 1rem;
}
footer .container-footer .footer-card .link-local .button-footer{
    background-color: rgb(30, 202, 255);
    padding: .7rem 1.2rem;
    border-radius: 40px;
    margin-top: 1rem;
    transition: all 500ms ease;
    text-decoration: none;
    color: #F6F6F5;
    font-size: 1.2rem;
    box-shadow: 5px  5px 20px rgba(54, 54, 54, 0.089);
}
footer .container-footer .footer-card .link-local .button-footer:hover{
    background-color: rgb(1, 170, 221);
    
}
footer .container-footer .footer-card .button-footer i{
    margin-right: .5rem;
    font-size: 1.5rem;
}


/*-------*/
.copyright{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: #818181;
}
.copyright .copyright-footer{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.copyright h2{
    font-size: clamp(3px, 2.1vw, .8rem);/*.9rem*/
    font-family: "Instrument Sans", sans-serif;
    font-weight: 400;
    color: white;
    text-transform: capitalize;
}
.copyright a{
    font-size: clamp(3px, 1.7vw, .8rem);/*.9rem*/;/*.9rem*/
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: white;
    text-transform: capitalize;
}
.copyright hr{
    width: 98%;
    height: .5px;
    opacity: .4;
}

@media(max-width: 970px){
    html{
        font-size: 90%;
    }
    .phrase h3{
    font-size: 2.1rem;
}

}
@media (max-width: 829px){
    header nav{
    width: 100%;
}
header nav .nav-links{  
    gap: 1rem;
}
}
/*----      header-responsive   -----*/
@media(max-width: 697px){
    header nav .navigation .nav-links{
        width: 85%;
        height: 100dvh;
        padding-top: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 7;
        background: #F6F6F5;
        box-shadow: -5px 0 5px -3px rgba(0, 0, 0, 0.158);
        transform: translateX(100%);
        transition: .4s ease-in-out;
    }
    header nav .nav-links li a{
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 3px;
}
    header nav .navigation .nav-links.is-active{
        transform: translateX(0);
    }
    header .hamburger{
    font-size: 2rem;
    display: block;
}
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
    background-color: #23325F !important;
    height: 1.5px !important; /* Valor original suele ser 4px */
    }
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: fixed;
    z-index: 10;
    top: 0;
    background: white;
    box-shadow: 5px  5px 20px rgba(54, 54, 54, 0.4);
}
.index{
    margin-top: 9.5rem;
}
}
@media(max-width:409px){
    .header .networks a,
    .header .networks h2{
        font-size: .8rem;
    }
}     
@media(max-width: 507px){
    header nav li span .button-nav{
    display: none;
}
}

/*----     index    ---- */
@media(max-width: 649px){
.index .title h2{
    font-size: 2rem;
}
}
@media(max-width: 551px){
.index .icon-float{
    bottom: 1rem;
    right: 1rem;
}
}
@media(max-width: 405px){
    .index .title h2{
    font-size: 2.7rem;
    text-align: center;
}
}

/*------    workshop    -----*/
@media(max-width :971px){
    .workshop .container-worshop{
    width: 100%;
}
}


/*----  phrase  ---*/
@media(max-width: 580px){
    .phrase{
    padding: .5rem;
}
}

/*----  spare   -----*/
@media(max-width: 440px){
    .spare .spare-title h2{
    font-size: 2rem;
}
}
@media(max-width: 1000px){
    .phrase .section-form{
    width: 100%;
}
}
@media(max-width:780px){
    .phrase .section-form .form-container form .form-input{
    grid-template-columns: repeat(1, 1fr);
}
}

/*---   nuestros repuestos -----*/

/*----  footer      ------*/
@media(max-width: 900px){
    footer .container-footer{
        width: 95%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: start;
        gap: 2rem;
    }
    footer .container-footer .footer-img{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
footer .container-footer  .footer-img figure{
    width: 300px;   
}
footer .container-footer .footer-img .footer-links{
    display: flex;
    gap: 2rem;
}
}
@media(max-width: 569px){
    footer .container-footer .footer-text{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    align-items: start;
    gap: 2rem;
}
}


@media(max-width: 477px){
    footer{
    background: #23325F;
}
footer .container-footer .footer-text{
    grid-template-columns: repeat(1, 1fr);
}
footer .container-footer .footer-img .img-desktop{
    display: none;
}
footer .container-footer .footer-img .img-phone{
    display: block;
}
   footer .container-footer .footer-text .footer-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F6F6F5;
    gap: 1.5rem;
}
footer .container-footer .footer-text .footer-contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F6F6F5;
    gap: 1.5rem;
}
footer .container-footer .footer-card span {
    text-align: center;
}
footer .container-footer .footer-img{
    text-align: center;
}
.copyright{
    background: #23325F;
}
}


/*----  copyright   -----*/
@media(max-width: 646px){
    .copyright .copyright-footer{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .5rem;
}
}


