@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*
 
.instrument-sans-<uniquifier> {
  font-family: "Instrument Sans", sans-serif;
  font-family: "Karla", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Open Sans", sans-serif;
  
  font-family: "Ubuntu", sans-serif;
}
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}




/*------    banner-index    -----*/
.index{
    width: 100%;
    min-height: 65vh;
    background-image: url('../img/vehiculo-en-la-carretera-comprimido.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}
.index::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.342);
    width: 40%;
    height: 100%;
    position: absolute;
    z-index: 1;
    overflow-x: hidden;
}
.index .title{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    font-family: "Open Sans", sans-serif;
    gap: 1rem;
    z-index: 2;
}
.index .title h2{
    font-family: "Open Sans", sans-serif;
    font-size: clamp(1rem, 4vw, 4rem);/*2.5rem*/
    color: white;
    font-weight: 500;
}
.index .title h3{
    color: white;
    font-weight: 400;
}
.index .title a{
    width: 40%;
    text-align: center;
    background: #595957;
    padding: 1rem;
    color: white;
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 30px;
    transition: all 500ms ease;
}
.index .title a:hover{
   background: white;
   color: #3a3a3a;
}


/*---   phrase  ---*/
.phrase{
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem .5rem;
    gap: .5rem;
}
.phrase h3{
    font-size: clamp(.9rem, 2.7vw, 2.7rem);/*3.2rem*/
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #23325F;
    text-transform: uppercase;
    font-weight: 900;
}
.phrase .img-svg {
    cursor: default;
    pointer-events: none;
}
.phrase a svg{
    fill: #595957;
     width: 170px;
    height: 170px;
}
.phrase .button-gear{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phrase .button-gear a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-size: 1.1rem;
    text-transform: uppercase;
   font-family: "Roboto", sans-serif;
   text-decoration: none;
   background: #23325F;
   color: white;
   padding: 1rem;
   transition: all 500ms ease;
}
.phrase .button-gear a:hover{
    background: #818181;
}
.phrase .button-gear i{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: all 500ms ease;
}
.phrase .button-gear a:hover i{
    transform: rotate(180deg);
}

/*----  spare   -----*/
.spare{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.spare .spare-title{
    width: 85%;
    text-align: left;
}
.spare .spare-title h2{
    color: #818181;
    font-size: clamp(1.7rem, 3.3vw, 3rem);/*2.5rem*/
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}
.spare .container-parts{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 2rem;
}
.spare .container-parts .card{
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 5px  5px 20px rgba(54, 54, 54, 0.4);
    position: relative;
    padding: 1rem;
}

.spare .container-parts .card .container-img{
    width: 100%;
    height: 90%;
  
}
.spare .container-parts .card img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.spare .container-parts .card .button-info{
    width: 90%;
    background: #23325F;
    text-align: center;
    padding: .5rem;
    border-radius: 10px;
}
.spare .container-parts .card .button-info a{
    font-size: 1.2rem;
    background: #23325F;
    text-transform: uppercase;
    font-family: "Instrument Sans", sans-serif;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.spare .container-parts .card .icon-link .link{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.589);
    opacity: 0;
    transition: all 500ms ease;
    z-index: 2;
}
.spare .container-parts .card .icon-link a svg{
    height: 90px;
    width: 90px;
    fill: white;
    background: #595957;
    padding:1.5rem;
    border-radius: 50%;
    z-index: -2;
    opacity: 3;
    transition: all 500ms ease;
}
.spare .container-parts .card img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.spare .container-parts .card:hover .icon-link{
    opacity: 1;
}
.spare .container-parts .card:hover svg{
    z-index: 4;
    transform: rotate(60deg) scale(1.1);
    opacity: 1;
}
.spare .container-parts .card:hover .link{
    z-index: 4;
    opacity: 1;
}
/*-----     brands  ------*/
.brands{
    width: 100%;
    min-height: 90vh;
    padding: 2rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.brands h2{
    font-family: "Open Sans", sans-serif;
    color: #bbbbbb;
    font-weight: 500;
    text-transform: capitalize;
}
.brands .brands-container{
    width: 75%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: .5rem;
    padding: 1rem 0px;
}
.brands .brands-container figure{
    width: 100%;
    height: 110px;
   
}
.brands .brands-container figure img{
    width: 100%;
    height: 100%;
     object-fit: contain;
}


/*------    us  -----*/
.us{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem .5rem;
    background-color: #131E31;
    color: white;
    font-family: "Instrument Sans", sans-serif;
}
.us .us-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding: 2rem .5rem;
}
.us .us-container h4{
    font-size: 1rem;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
}
.us .us-container h5{
    font-size: 1.7rem;
    font-weight: 800;
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;
}
.us .us-container p{
    font-size: 1rem;
    font-family: "Instrument Sans", sans-serif;
    text-align: center;
    font-weight: 100;
}   
.us .us-container .us-card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem .5rem;
}
.us .us-container .us-card .box{
    flex: 1 1 15rem;
    box-shadow: 5px  5px 20px rgba(54, 54, 54, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 2rem 1rem;
    gap: 1rem;
    background: #F6F6F5;
}
.us .us-container .us-card .box h6{
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #131E31;
    font-family: "Ubuntu", sans-serif;
}
.us .us-container .us-card .box p{
    color: #3a3a3a;
    font-family: "Instrument Sans", sans-serif;
}
.us .us-container .us-card .box a{
    cursor: default;
    pointer-events: none;
}
.us .us-container .us-card .box a svg{
    width: 70px;
    height: 70px;
    background: #ff9b05;
    fill: white;
    padding: .5rem;
    border-radius: 40px;
}


/*----      service     ----*/
.service{
    width: 100%;
    padding: 2rem .5rem;
}
.service .service-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.service .service-container h2{
    font-size: 2rem;/*2rem*/
    font-family: "Ubuntu", sans-serif;
    color: #bbbbbb;
    text-transform: uppercase;
    text-align: left;
    width: 90%;
}
.service .service-container .container-box{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.service .service-container .container-box .box{
    flex: 1 1 20rem;
    height: 400px;
    width: 100%;
    position: relative;
    z-index: 3;
}
.service .service-container .container-box .box::before{
    content: '';
    background: #0a0101;
    background: linear-gradient(0deg, rgba(10, 1, 1, 1) 0%, rgba(253, 187, 45, 0) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}
.service .service-container .container-box .box img{
    width: 100%;
    height: 100%;
}
.service .service-container .container-box .box .box-info{
    position: absolute;
    width: 70%;
    height: 100%;
    top:  45%;
    left: 2rem;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: .7rem;
}
.service .service-container .container-box .box .box-info h3{
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;

}
.service .service-container .container-box .box .box-info p{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}
.service .service-container .container-box .box .box-info a{
    font-family: "Instrument Sans", sans-serif;
    color: #ff9b05;
    font-size: 1rem;
}
.service .service-container .container-box .box .box-info a i{
    padding-left: .5rem;
    
}

/*-----     section-button      -----*/





@media(max-width: 970px){
    html{
        font-size: 90%;
    }
    .phrase h3{
    font-size: 2.1rem;
}
}

/*----      header-responsive   -----*/
@media(max-width: 697px){
.index{
    width: 100%;
    min-height: 60vh;
    background-image: url('../img/vehiculo-en-la-carretera-comprimido-phoneotablet.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    margin-top: 9.5rem;
}
}


/*----     index    ---- */
@media(max-width: 919px){
    .index .title a{
        width: 90%;
    }
}
@media(max-width: 649px){
    .index{
    min-height: 35vh;
}
.index .title h2{
    font-size: 2rem;
}
}
@media(max-width: 551px){
    .index::before{
    width: 60%;
}
    .index .title{
    width: 50%;
}
}
@media(max-width: 405px){
    .index::before{
        width: 100%;
    }
    .index .title{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.index .title a{
        width: 50%;
    }
    .index .title h2{
    font-size: 2.7rem;
    text-align: center;
}
}


/*----  phrase  ---*/
@media(max-width: 580px){
    .phrase{
    padding: .5rem;
}
}

/*----  spare   -----*/
@media(max-width: 440px){
    .spare .spare-title h2{
    font-size: 2rem;
}
}

/*---   nuestros repuestos -----*/
@media(max-width:677px){
    .spare .container-parts .card{
    height: 340px;
}
}

/*------    brands-container    ----*/
@media(max-width: 645px){
    .brands .brands-container{
    width: 90%;
}
}



